.nav-element {
  background-color: red;
}
.name-1 {
  margin: 0px 0px 0px 1rem;
}
.name-2 {
  margin: 0px 0px 0px 1rem;
}
.name-3 {
  margin: 0px 0px 0px 1rem;
}
.name-4 {
  margin: 0px 0px 0px 1rem;
}
.bg-red-605 {
  width: 100%;
  margin: 1rem 0px 10px 0rem;
}
